@model Store.Web.ViewModels.UserFormViewModel
@{
    ViewBag.Title = "Register";
}

<h2>Registration Form</h2>
<form action="@Url.Action("Register", "Login")" method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br>

    <label for="lastname">Last Name:</label><br>
    <input type="text" id="lastname" name="lastname" required><br>

    @*<label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>*@


    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })


    <label for="confirmEmail">Confirm Email:</label><br>
    <input type="email" id="confirmEmail" name="confirmEmail" required><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" />
    <required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{12,}" title="Password must contain at least 12 characters, including at least one uppercase letter, one lowercase letter, one number, and one special symbol." onkeyup="validatePasswordStrength()">
        <br>

        <label for="confirmPassword">Confirm Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br>

        <input type="submit" value="Register">
</form>

<script>
    var password = document.getElementById("password");
    var confirmPassword = document.getElementById("confirmPassword");

    function validatePassword() {
        var passwordStrength = document.getElementById("passwordStrength");
        var regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{12,}$/;

        if (regex.test(password.value)) {
            password.style.borderColor = "green";
        } else {
            password.style.borderColor = "red";
        }
    }

    password.onkeyup = validatePassword;
</script>




